
  {% extends 'index.html'%}
  {% block body %}

  <div class="container mt-5">
    <h4 class="mb-4">Edit Food</h4>
    <form action="/myapp/admin_edit_food_post/" method="post" enctype="multipart/form-data">
      
    {% csrf_token %}
      <div class="mb-3">
         <label for="Food Name">Food Name</label>
         <input type="text" class="form-control" name="Food Name" placeholder="Enter your Food Name" required value="{{data.Food_Name}}">
         <input type="hidden" value="{{data.id}}" name="id">
      </div>

      <!-- Optional File Upload -->
      <div class="mb-3">
        <label for="photo" class="form-label"> Photo</label><br>
        <label for=""><img src="{{data.Photo}}" width="90" height="90"></label><br>
        <input type="file" class="form-control" name="photo" accept="image/*">
      </div>

       <!-- Complaint Text -->
      <div class="mb-3">
        <label for="Descriptiont" class="form-label">Description</label>
        <textarea class="form-control" name="Description" id="Description" rows="4" placeholder="Write your description here..." required>{{data.description}}</textarea>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>

{% endblock %}