<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>SignUp</h1>
    <form>
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text" name="Name" placeholder="Enter the name:"></td>
            </tr>
            <tr>
                <th>Dob</th>
                <td><input type="date" name="DOB"></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td><input type="radio" name="Gender" value="Male">
                <label>Male</label>
                <input type="radio" name="Gender" value="Female">
                <label>female</label>
                <input type="radio" name="Gender" value="Others">
                <label>Others</label></td>
            </tr> 
            <tr>
                <td><input type="submit" name="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>